*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #021526;
    color: white;
    padding: 2rem;
    text-align: center;
}

h1{
    font-size: 4rem
}

.para{
    padding: 2rem;
    font-size: 1.3rem;
}

button{
    all: unset;
    background-color: #6EACDA;
    color: #021526;
    padding: 0.7rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}

button:hover{
    background-color: #E2E2B6;
}

.content{
    width: 500px;
    margin: 2rem auto;
    background-color: #6EACDA;
    color: #021526;
    padding: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

/* Mobile */
@media (max-width: 600px){
    h1{
        font-size: 1.7rem;
    }

    .content{
        width: 250px;
        font-size: 1rem;
        letter-spacing: 0.02rem;
    }
}